h4 Thank you for checking my website out! No this is not a legitmate shop you can buy from.

p This website was my introduction to incoporating backend database to frontend user interface
p This website was made using nodeJS, pug view, express, bootstrap, and with the help of the Odin Project
p The website has the intention of being admin in mind where admin will be able to make adjustment to catalogs and categories, creating and deleting
p Check out my github for more projects
a(href = "https://github.com/NathanNgoy/") Github