doctype html
html
  head
    title= title
    meta(charset='utf-8')
    script(src="//code.jquery.com/jquery-1.12.0.min.js")
    script(src="//code.jquery.com/jquery-1.12.0.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
  body
    <body>
    <div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" href="#">Subscribe</a>
      </div>
      <div class="col-4 text-center">
        <a class="h5 blog-header-logo text-dark font-italic" href="/catalog">BOARDGAME TOGETHER</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="btn btn-sm btn-outline-secondary" href="/catalog/login">Log In</a>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="/catalog">Catalog</a>
      <a class="p-2 text-muted" href="/catalog/boardgames">BoardGames</a>
      <a class="p-2 text-muted" href="/catalog/boardgames/create">Create BoardGames</a>
      <a class="p-2 text-muted" href="/catalog/category">Categories</a>
      <a class="p-2 text-muted" href="/catalog/category/create">Create Category</a>
      <a class="p-2 text-muted" href="#"></a>
      <a class="p-2 text-muted" href="#"></a>
      <a class="p-2 text-muted" href="#"></a>
      <a class="p-2 text-muted" href="#"></a>
      <a class="p-2 text-muted" href="#"></a>
      <a class="p-2 text-muted" href="/catalog/faq">About</a>
      <a class="p-2 text-muted" href="/catalog/faq">Contact Us</a>
    </nav>
  </div>

    block content


<footer class="header">
  <div class="row">
    <div class="col-6 col-md">
      <a class="h5 text-muted" href="/catalog/faq">FAQ</h5>
    </div>
    <div class="col-6 col-md">
      <a class="h5 text-muted" href="/catalog/faq">Order Track</h5>
    </div>
    <div class="col-6 col-md">
      <a class="h5 text-muted" href="/catalog/faq">About Us</h5>
    </div>
    <div class="col-6 col-md">
      <a class="h5 text-muted" href="/catalog/faq">Social Media</h5>
    </div>
  </div>
</footer>